/* ==========================================================================
   Input group
   ========================================================================== */

.input-append,
.input-prepend {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
             align-items: stretch;
    width: 100%;

    > button,
    > .btn,
    > .add-on {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: $input-padding-y $input-padding-x;
        margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
        font-size: $font-size-base; // Match inputs
        font-weight: $font-weight-normal;
        line-height: $input-line-height;
        color: $input-group-addon-color;
        text-align: center;
        white-space: nowrap;
        background-color: $input-group-addon-bg;
        border: $input-border-width solid $input-group-addon-border-color;
        @include border-radius($input-border-radius);
    }

    > input {
        position: relative; // For focus state's z-index
        flex: 1 1 auto;
        // Add width 1% and flex-basis auto to ensure that button will not wrap out
        // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
        width: 1%;
        margin-bottom: 0;

        // Bring the "active" form control to the top of surrounding elements
        &:focus {
            z-index: 3;
        }

        &:not(:last-child) {
            @include border-right-radius(0);
        }

        &:not(:first-child) {
            @include border-left-radius(0);
        }
    }
}

.input-append {
  > input {
        margin-right: -$input-border-width;
    }

    > button,
    > .add-on {
        @include border-left-radius(0);
    }
}

.input-prepend {
    > button,
    > .add-on {
        @include border-right-radius(0);
    }

    > input {
        margin-left: -$input-border-width;
    }
}

.input-prepend.input-append {
    > .add-on {
        @include border-left-radius($input-border-radius);
    }

    > .btn {
        @include border-left-radius(0);

        &:not(:last-child) {
            border-right-width: 0;
            @include border-right-radius(0);
        }
    }
}
