/* ==========================================================================
   Navs
   ========================================================================== */

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
}

/* Tabs
   ========================================================================== */

.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

    > li {
        margin-bottom: -$nav-tabs-border-width;

        > a {
            display: block !important;
            padding: $nav-link-padding-y $nav-link-padding-x;
            @include hover-focus {
                text-decoration: none;
            }

            border: $nav-tabs-border-width solid transparent;
            @include border-top-radius($nav-tabs-border-radius);
            @include hover-focus {
                border-color: $nav-tabs-link-hover-border-color;
            }

            &.disabled {
                color: $nav-link-disabled-color;
                background-color: transparent;
                border-color: transparent;
            }

            &.active {
                color: $nav-tabs-link-active-color;
                background-color: $nav-tabs-link-active-bg;
                border-color: $nav-tabs-link-active-border-color;
            }
        }
    }

    .dropdown-menu {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu
        @include border-top-radius(0);
    }
}
