$primary: #007bff;
$body-bg: #ffffff;
$body-color: #212529;
$enable-shadows: false;
$enable-gradients: false;
$navbarBg: #ffffff;
$navbarPos: 0;
$breakpoint: md;
$bodyFont: 'false';
$titlesFont: 'false';
